body {
    background-image: url(hearts.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

body button {
    width: 100px;
    aspect-ratio: 2 / 0.5;
}
